<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="filterText" (ionInput)="getItems()"> </ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Select a category</ion-label>
      <ion-select [(ngModel)]="selectedCategory" (ionChange)="getItems()">
        <ion-option selected value="">Select</ion-option>
        <ion-option *ngFor="let category of categories" value="{{category.categoryName}}">{{category.categoryName}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-item *ngFor="let product of products" (click)="itemTapped($event, product)">
      {{product.productName}} 
      <ion-badge color="primary" item-end>{{product.unitPrice | currency:'USD':true}} </ion-badge> 
    </button>
  </ion-list>
</ion-content>